@{
    ViewData["Title"] = "Admin Paneli";
}

<div class="container" style="margin-top: 150px; margin-bottom: 100px;">
    <h1 style="color: white;">Sistem Yöneticisi Paneli</h1>
    <p style="color: white;">Sadece Admin yetkisine sahip kullanıcılar bu sayfayı ve altındaki oda yönetimi fonksiyonlarını görebilir.</p>

    <a href="/Admin/OdaYonetimi" class="btn btn-warning">Odaları Yönet (Sadece Admin)</a>
</div>